// app/assets/stylesheets/maps/index.css.scss

// ============================================================================
// Map administration pages.
// ============================================================================

.maps-page,
.maps_users-page {

    .print-view-button {
        position: absolute;
        top:      0.9em;
        left:     36.5em;
    }

    .tool-content {
        position: relative;
    }
}

.maps-return {
    position: absolute;
    top:      5px;
    left:     5px;
}

.maps-container {

    margin-bottom: 2.33em;

    .btn {
        margin-right: 2em;
        font-weight:  normal;
    }

    h2 {
        font-weight:   bold;
        border-bottom: 1px solid #bbbbbb;
    }

    h2 .btn {
        margin-left: 2em;
    }

    form.button_to {
        display:    inline;
        margin-top: 0;
    }

    form.button_to div {
        display: inline;
    }

    .maps-button-heading {
        display:      inline;
        margin-right: 2em;
        font-size:    16px;
    }

    .user-list li {
        padding:       0.8em 0.33em;
        font-size:     1.2em;
        border-bottom: 1px dotted #aaaaaa;
    }

    .map-entry .btn {
        margin-left:  2em;
        margin-right: 0;
    }

    h2.map-name {
        float:         left;
        width:         70%;
        margin:        0;
        padding:       0;
        line-height:   32px;
        font-size:     16px;
        border-bottom: none;
    }
}

.expand-contract {

    float: right;

    .expand-contract-label {
        text-transform: uppercase;
        font-size:      11px;
        color:          #555555;
    }
}

.library-map-container {

    clear:   both;
    padding: 1em 0;

    &      .map-listing { display: none; }
    &.open .map-listing { display: block; }

    .library-name {

        padding:    0.5em;
        font-size:  18px;
        color:      white;
        background: #224466;

        .toggle-library-maps {
            float:         right;
            padding-right: 1em;
            line-height:   20px;
            font-size:     12px;
            font-weight:   normal;
            color:         white;
            cursor:        pointer;
        }
    }
}

.map-listing {

    border-top: 2px solid #a4c6ef;

    h3 {
        padding:   1em 0 0.67em;
        font-size: 15px;
    }

    .map-entry {

        padding:    3px 10px;
        overflow:   hidden;
        background: #e3ecfd;

        .map-name .map-url {
            font-size:    13px;
            font-weight:  normal;
            padding-left: 1em;
        }
        .map-tools {
            float:       left;
            line-height: 32px;
            text-align:  right;
            width:       30%;
        }
    }

    .map-guides {

        clear:   both;
        padding: 0.2em 10px 0.5em;

        label {
            display:     inline;
            font-size:   13px;
            font-weight: normal;
            margin:      0;
            padding:     0;
        }

        .optional {
            color:        #555555;
            font-size:    12px;
            font-style:   italic;
            padding-left: 1em;
        }

        input,
        select {
            margin-right: 1em;
        }

        input[type="submit"] {
            margin-top: 0;
        }

        .range-listing {

            clear:         both;
            margin-bottom: 0.5em;
            overflow:      hidden;

            &.odd { background: #eeeeee; }

            span {

                display:     block;
                float:       left;
                line-height: 32px;
                height:      32px;
                padding:     0;
                text-indent: 0.33em;
                width:       80%;

                &.range-remove {
                    text-align: right;
                    width:      20%;
                }
            }
        }
    }
}
